{block:IfMasonryLayout}
<div class="masonry js-masonry">
{/block:IfMasonryLayout}

  {block:Posts}

    <div class="autopagerize_page_element {block:IfMasonryLayout}masonry-item js-masonry-item{/block:IfMasonryLayout}">

      <article id="post-{PostID}" class="post post-{PostType} {block:Odd}post-odd{/block:Odd}{block:Even}post-even{/block:Even}" role="article" itemscope="itemscope" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

        <%- include('../posts/answer'); %>
        <%- include('../posts/audio'); %>
        <%- include('../posts/chat'); %>
        <%- include('../posts/link'); %>
        <%- include('../posts/panorama'); %>
        <%- include('../posts/photo'); %>
        <%- include('../posts/photoset'); %>
        <%- include('../posts/quote'); %>
        <%- include('../posts/text'); %>
        <%- include('../posts/video'); %>

        <!-- POST-FOOTER -->

        <footer>

          <!-- POST-META -->

          <ul class="post-meta">

            {block:Date}

              <li><a href="/day/{Year}/{MonthNumberWithZero}/{DayOfMonthWithZero}/"><time datetime="{Timestamp}" itemprop="datePublished"><span class="month">{Month}</span> <span class="day">{DayOfMonth}</span>, <span class="year">{Year}</span></time></a></li>

            {/block:Date}

              {block:IndexPage}

              {block:NoteCount}

                <li><a href="{Permalink}">{NoteCountWithLabel}</a></li>

              {/block:NoteCount}

              {block:IfDisqusShortname}

                <li><a class="dsq-comment-count" href="{Permalink}#disqus_thread">Comments</a></li>

              {/block:IfDisqusShortname}

            {/block:IndexPage}

          </ul>

          <ul class="share">

            <li>{LikeButton color="grey" size="14"}</li>
            <li>{ReblogButton color="grey" size="14"}</li>
            <li>Share

              <ul>

                <li><a href="http://facebook.com/sharer.php?u={URLEncodedPermalink}&amp;t={URLEncodedTitle}" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/intent/tweet?text={URLEncodedTweetSummary}" target="_blank">Twitter</a></li>
                <li><a href="https://plus.google.com/share?url={Permalink}" target="_blank">Google+</a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={Permalink}{block:Title}&title={PlaintextTitle}{/block:Title}{block:PostSummary}&summary={PlaintextPostSummary}{/block:PostSummary}">LinkedIn</a></li>
                <li><a href="http://pinterest.com/pin/create/button/?url={Permalink}&media={PhotoURL-HighRes}&description=" target="_blank">Pinterest</a></li>
                <li><a href="mailto:?subject={URLEncodedShareString}&amp;body={URLEncodedMailSummary}" alt="{lang:Send email}">E-Mail</a></li>

              </ul>

            </li>

          </ul>

          <!-- TAGS -->

          {block:HasTags}

            <ul class="tags">

              {block:Tags}

                <li><a href="{TagURL}" itemprop="about keywords">{Tag}</a></li>

              {block:Tags}

            </ul>

          {/block:HasTags}

        </footer>

      </article>

    </div>

  {/block:Posts}

{block:IfMasonryLayout}
</div>
{/block:IfMasonryLayout}
