<!DOCTYPE html>
<html lang="
  {block:Dutch}nl{/block:Dutch}
  {block:English}en{/block:English}
  {block:French}fr{/block:French}
  {block:German}de{/block:German}
  {block:Italian}it{/block:Italian}
  {block:Japanese}ja{/block:Japanese}
  {block:Korean}ko{/block:Korean}
  {block:Polish}pl{/block:Polish}
  {block:PortugueseBR}pt-br{/block:PortugueseBR}
  {block:PortuguesePT}pt{/block:PortuguesePT}
  {block:Russian}ru{/block:Russian}
  {block:Spanish}es{/block:Spanish}
  {block:Turkish}tr{/block:Turkish}
">

<%- include('../partials/layouts/head'); %>

<body itemscope="itemscope" itemtype="http://schema.org/WebPage">

  <%- include('../partials/layouts/header'); %>

  <main class="main" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">

    <div class="grid">

      <%- include('../partials/pages/search'); %>
      <%- include('../partials/pages/tags'); %>
      <%- include('../partials/pages/days'); %>

      <%- include('../partials/modules/posts'); %>
      <%- include('../partials/modules/notes'); %>
      <%- include('../partials/modules/comments'); %>
      <%- include('../partials/modules/pagination'); %>

    </div>

  </main>

  <%- include('../partials/layouts/footer'); %>

  <%- include('../partials/scripts/infinite-scrolling'); %>
  <%- include('../partials/scripts/masonry'); %>
  <%- include('../partials/scripts/google-analytics'); %>
  <%- include('../partials/scripts/disqus'); %>

  <!-- build:js inline -->
  <script src="../source/assets/js/script.js"></script>
  <!-- /build -->


</body>

</html>
